* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #d32ae98c, #5b0c8fe5);
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1.8s forwards;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8e24aa;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #6a1b9a;
    transform: scale(1.2);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    .button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container { display: inline-block; }

.text {

font-size: 5em;

letter-spacing: 10px;

font-family: monospace;



width: 100%;

white-space: nowrap;

overflow: hidden;

animation:

typing 2s ,

cursor .4s step-end infinite alternate;
}

/* cursor blinking */

@keyframes cursor {

A 80% { border-color: transparent } }

/* typing effect */

@keyframes typing {

from { width: 0 }

}